.type-list {
  margin-left: 45px;
}

.text {
  margin-left: 15px;
  color: #0088ff;
  font-size: 18px;
  font-weight: bold;
}

.type-list li {
  background-color: #fff;
  float: left;
  width: 192px;
  height: 57px;
  border-radius: 4px;
  border: 2px solid #a0a0a0;
  vertical-align: middle;
  margin-left: 20px;
  margin-top: 30px;
  padding-left: 15px;
  padding-top: 9px;
  position: relative;
  cursor: pointer;
}

.type-list label {
  height: 100%;
  width: 100%;
  display: block;
  cursor: pointer;
}

.type-list .current {
  border-color: #0088ff;
}

.type-list .icon {
  height: 40px;
  position: absolute;
}

.type-list p {
  display: inline-block;
  line-height: 40px;
  margin-left: 60px;
  font-size: 24px;
  font-weight: bold;
  color: #666666;
}

.button{
  width: 174px;
  height: 50px;
  background-color: #fc8e2c;
  border: 1px solid #f37300;
  border-radius: 4px;
  color: #fff;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
  margin: 52px 300px;
  float: left;
  cursor: pointer;
}
