.title1 {
  color: #0088ff;
  font-size: 20px;
  margin-left: 25px;
}

.box {
  background: #ddd;
  border: 1px #2f2b31 solid;
  padding: 15px;
  margin: 0 25px;
  height: 128px;
  width: 50%;
  float: left;
}

.name {
  float: left;
}

.box .text {
  margin-bottom: 20px;
  color: #0088ff;
  font-size: 20px;
}

.box .name {
  font-style: normal;
  font-size: 20px;
  vertical-align: bottom;
  margin-bottom: 8px;
  margin-right: 24px;
  line-height: 60px;
  margin-left: 15px;
}

.box .num {
  font-style: normal;
  font-size: 45px;
  vertical-align: bottom;
  margin-left: 300px;
}

.list li:first-child {
  color: #0088ff;
  font-size: 20px;
}

.list {
  min-height: 160px;
  float: right;
  margin-right: 30px;
}

.list li {
  padding-top: 10px;
  height: 45px;
  line-height: 30px;
  border-bottom: 1px solid #666;
  width: 280px;
}

.list .fl {
  float: left;
}

.list .fr {
  float: right;
}

.list .button {
  background: #434343;
  color: #fff;
  border: 1px solid #2f2b31;
  margin: 0 3px;
  font-size: 14px;
  padding:0 8px;
  height: 30px;
  line-height: 30px;
  float: right;
}

.form {
  float: left;
  margin: 0 25px;
  width: 50%;
}

.form  p{
  color: #0088ff;
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  width: 100%;
  border-bottom: 1px solid #666;
}

.form > div{
  height: 35px;
  margin-top: 15px;
}

.form input{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.form select{
  width: 45%;
  height: 100%;
}

.form .button{
  width: 100%;
  height: 35px;
  line-height: 35px;
  color: #fff;
  background-color: #0088ff;
  text-align: center;
  cursor: pointer;
}

.form .tip{
  color: #f00;
  margin-top: 40px;
  width: 180%;
}
