.fl{
  float: left;
}
.fr{
  float: right;
}
.jlh-head{
  width: 100%;
  margin-bottom: 1px;
}
.head-nav-top{
  width: 100%;
  background: #292d3b;
  height: 40px;
  line-height: 40px;
  color: #fff;
}
.nav-top-bg{
  width: 1100px;
  margin: 0 auto;
}
.head-login li{
  float: left;
  margin-right: 18px;
  height: 40px;
  font-size: 13px;
}
.login-input{
  border: 0 solid blue;
  border-radius: 5px;
  width: 80px;
  height: 20px;
  padding: 0 10px;
  box-sizing: border-box;
  background: #d8dbdb;
}
/*.login-input:focus{*/
  /*outline: none;*/
/*}*/
.yzm{
  float: right;
  width: 60px;
  height: 20px;
  background: #fff;
  line-height: 20px;
  color: #000;
  margin-top: 11px;
  margin-left: 10px;
  text-align: center;
  cursor: pointer;
}
.login-btn{
  width: 50px;
  border-radius: 4px;
  border: none;
  padding: 4px;
  cursor: pointer;
  background: #ff322b;
  background: -webkit-linear-gradient(top,#eb823f,#c53823);
  color: #fff;
}
.reg-btn{
  border-radius: 5px;
  border: none;
  padding: 4px;
  cursor: pointer;
  background: #05a4d0;
  background: -webkit-linear-gradient(top,#088eaa,#01c0fe);
  color: #fff;
}
.login-btn:focus{
  outline: none;
}
.reg-btn:focus{
  outline: none;
}
.head-login span{
  color: #f6f306;
}
.chongzhi{
  width: 50px;
  border-radius: 5px;
  border: none;
  padding: 4px;
  cursor: pointer;
  background: #f86701;
  background: -webkit-linear-gradient(top,#eb823f,#c53823);
  color: #fff;
  margin-left: 10px;
}
.logout-btn{
  width: 50px;
  border-radius: 5px;
  border: none;
  padding: 4px;
  cursor: pointer;
  background: #00a0e9;
  color: #fff;
  margin-left: 10px;
}
.logout-btn:focus{
  outline: none;
}
.head-nav-bottom{
  width: 1100px;
  margin: 0 auto;
  height: 80px;
  line-height: 80px;
}
.jlh-logo{
  float: left;
}
.nav-bottom-right li{
  float: left;
  box-sizing: border-box;
  margin: 0 7px;
  width: 93px;
  text-align: center;
  letter-spacing: 3px;
}
.nav-bottom-right li:hover{
  color: #018cff;
  border-bottom: 1px solid #018cff;
}
.nav-bottom-right a{
  color: #000;
  font-weight: bold;
  font-size: 16px;
}
.nav-bottom-right a:hover{
  color: #018cff;
}


